 <h2>Add a website to your Child's Profile</h1>

<h3>New Website</h1>



<div class="row">
      <div class="col-sm-4 text-center">
        <h2>Type it in & Tee it up</h2>
        <%= form_for ([:user, :kid, @website]) do |f| %>
          <ul>
            <li><%= f.label :name %></li>
            <li><%= f.text_field :name %></li>
          </ul>
          
          <ul>
            <li><%= f.label :url %></li>
            <li><%= f.text_field :url %></li>
          </ul>
          <ul>
            <li><%= f.submit %></li>
          </ul>
        <% end %>
      </div>
</div>
