 <h2>Add a website to your Child's Profile</h1>

<h3>New Website</h1>

<%= form_for ([:user, :kid, @website]) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
