<h1>Signing up will free you from BOOKMARK HELL!</h1>
<hr />

<section class="newUser">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 text-center">
        <h2>It will change your life...forever</h2>
        <%= form_for @user do |f| %>
          <ul>
            <li><%= f.label :name %></li>
            <li><%= f.text_field :name %></li>
          </ul>
          
          <ul>
            <li><%= f.label :email %></li>
            <li><%= f.text_field :email %></li>
          </ul>

          <ul>
            <li><%= f.label :password %></li>
            <li><%= f.password_field :password %></li>
          </ul>

          <ul>
            <li><%= f.label :password_confirmation %></li>
            <li><%= f.password_field :password_confirmation %></li>
          </ul>

          <ul class="create">
            <li><%= f.submit %></li>
          </ul>
        <% end %>
      </div>
      <div class="col-sm-5">
        <%= image_tag "bookmarks.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>