  <h2>Add a Child to your WWK Profile</h1>

<h3>New Child Info</h1>
<%= form_for ([@user, @user.kids.new]) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
