<h1>Kid Info</h1>
<%= @kid.name %>
<br><br>
	<div class="websites">
		<% @kid.websites.each do |website| %>
			<a href="http://<%= website.url %>" class="launch"><%= website.name %></a>
			<iframe class="box1" width="500" height="320" src="http://<%= website.url %>"></iframe>
			<br>
		<% end %>
	</div>

<%# raise @kid.inspect %>
<%= link_to "Add a Website", new_user_kid_website_path(current_user, @kid) %>
